* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(223, 225, 243);
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: rgb(43, 23, 80);
  line-height: 2rem;
}
